DB_USER=postgres
DB_HOST=localhost
DB_NAME=gymmaxxing_db
DB_PASSWORD=tu_password_local
DB_PORT=5432
GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com
MAIL_ENABLED=false
MAIL_FROM=no-reply@gymmaxxing.local
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_usuario_smtp
SMTP_PASS=tu_password_o_app_password_smtp
